altgraph==0.17.4
keyboard==0.13.5
packaging==24.1
pefile==2024.8.26
pillow==10.4.0
plyer==2.1.0
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
pypiwin32==223
pystray==0.19.5
pytubefix==6.13.1
pywin32==306
pywin32-ctypes==0.2.3
setuptools==74.0.0
six==1.16.0
win10toast==0.9
